/* ~/.config/wofi/power.css */
/* Rosé Pine Moon */

window {
    margin: 0px;
    background-color: rgba(35, 33, 54, 0.75);
    border: 2px solid #393552;
    border-radius: 8px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: 500;
}

#input {
    display: none;
}

#outer-box {
    padding: 8px;
}

#scroll {
    margin: 0;
}

#inner-box {
    background: transparent;
}

#entry {
    padding: 6px 12px;
    border-radius: 4px;
    color: #e0def4;
}

#entry:selected,
#entry:selected * {
    background-color: #ea9a97;
    color: #232136;
    font-weight: 600;
    border-radius: 4px;
}
