/* ~/.config/wofi/style.css */
/* Rosé Pine Moon — heavier frost */

window {
    margin: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: 500;
    background-color: rgba(35, 33, 54, 0.75);
    border: 2px solid #393552;
    border-radius: 10px;
}

#outer-box {
    margin: 10px;
    border: none;
}

#input {
    margin: 5px;
    padding: 10px;
    border: 1px solid #393552;
    border-radius: 6px;
    color: #e0def4;
    background-color: #2a283e;
    outline: none;
    caret-color: #ea9a97;
}

#input:focus {
    border: 1px solid #c4a7e7;
}

#scroll {
    margin: 5px;
}

#inner-box {
    background: transparent;
}

#text {
    margin: 5px;
    color: #908caa;
}

#entry:selected #text {
    color: #232136;
    font-weight: 600;
}

#entry:selected,
#entry:selected * {
    background-color: #ea9a97;
    border-radius: 6px;
}

#entry:selected #text {
    color: #232136;
    font-weight: 600;
}

#img { display: none; }
